<section class="section-work">

  <h3 id="work">Work</h3>



  <div class="work-belt">

    <div class="thumb-wrap">
      <div class="thumb-container">
        <div class="thumb-unit">
          <iframe class="thumb-unit" width="100%" height="auto" src="http://www.youtube.com/embed/Rw4ZgDra40s?color=white&theme=light"></iframe>
        </div>
        <div class="thumb-unit">
          <iframe class="thumb-unit" width="100%" height="auto" src="http://www.youtube.com/embed/wAZTIWZFefw?color=white&theme=light"></iframe>
        </div>
        <div class="thumb-unit">
          <iframe src="https://open.spotify.com/embed/album/65aLU3Iw91u4OlAksRS7XW?" width="100%" height="380" frameborder="0" allowtransparency="true"></iframe>

        </div>
      </div>
    </div>
  </div>
</section>
